

<h1>Welcome to Burger Land</h1>


<div class="undevoured">
    <h2>Burgers to Eat</h2>
    {{#each burgers}}
    {{#unless devoured}}
    <div id="{{id}}">
    <p id="Burger">{{id}}__{{burger_name}}</p>
    <button type="submit" dvrd="{{devoured}}" brgrid="{{id}}" class="devour">Devour It</button>
    </div>
    {{/unless}}
    {{/each}}
</div>

<form class="formBurger">

<div class="orderBurger">
   <label for="burg">Order a burger</label>
   <input type="text" id="orderForm" name="burger">
 </div>

 <button type="submit" id="burgerButton">Order Burger!</button>
</form>


<div class="dev-container">
<h2>Burgers Devoured</h2>
<div class="devoured">
    {{#each burgers}}
    {{#if devoured}}
    <div id="{{id}}">
    <p id="Burger">{{id}}__{{burger_name}}</p>
    <button type="submit" dvrd="{{devoured}}" brgrid="{{id}}" class="devour">Devour It</button>
    </div>
    {{/if}}
    {{/each}}
    
    
    </div>


</div>

